.content {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "grid";
  grid-template-columns: 1fr;
  align-self: center;
  justify-self: center;
  align-items: center;
  background-color: #488588;
  border: 1px solid #aaa;
}

/* columns are set in script.js file -boardUI()*/
.grid {
  display: grid;
  border: 1px solid black;
}

.grid div {
  margin:0;
  list-style-type: none;
  background-color: #10C5D0;
  color: red;
  font-weight: bolder;
  padding: 13%;
}

.grid div:nth-child(even) {
  border: 1px solid #ccc;
  background-color:#83DADF ;
  
}
.grid div:nth-child(even):hover {
 background-color: yellow;
}
.popUp{

  margin-left: 2em;
  margin-right: 3em;
  position: absolute;
  padding: 40px;
  background-color: rgb(76, 222, 241);
  color:black;
  font-weight: bolder;
  border-radius: 20px;
  border:1px solid whitesmoke;
  opacity: 0.8;
  margin-left:30px;

}
.popUp div{
  border-bottom: 3px solid white;
}

