
#main{
width: 60%;
margin: 5% 20%;
border: 3px solid rgb(10, 148, 190);
background-color:#d6d3d3;
border-radius: 10px;
padding: 35px 35px;
}
.box {
  padding: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: block;
    border-right: 1px solid white;
    box-sizing: border-box;
    border-radius: 5px ;
}
.left {
  grid-column: 4 / 7;
  padding-top: 26px;
  grid-row: 2/4;

}

.center-top {
  grid-column: 1 / 4;
  grid-row: 1/ 4;
  border-right: 1px solid red;
}
.wrapper {
  display:grid;
  grid-template-columns: repeat(6, 1fr);
 
  grid-template-rows: repeat(3, 1fr);
}



button{
  height: 30px;
  width: 100%;
  background-color: rgb(96, 182, 221);
  border: 0.5px solid rgb(0, 0, 0);
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
}

label{
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
.guest button{
  margin-left: 200px;

  padding-bottom:3px ;
}