body {
    margin: auto;
    width: 540px; 
    height: 550px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B9B9B9;    
}
/* First state of the game*/
h1{
    background-color:#B9B9B9 ;
    font-size: 40px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 8px;
    margin: 0;
    padding: 25px 0px 35px 20px;
}
/* First state of the game*/
section{
    background-color:#B9B9B9 ;
    height: 300px;
}
/* First state of the game */
.levels button{
    transform: translateY(-50%);
    transform: translateX(85%);
    display:block;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    padding: auto;
    border: 0.2px solid black;
    border-radius: 4px;
    width: 200px;
    height: 60px;
    font-size: large;
    background-color: #B9B9B9;
}
/* First state of the game*/
button:hover{
    background-color: aliceblue;
    border: outset darkgray;
}

/* Second state of the game*/

header{
    margin: auto;   
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px;
    background-color: #00A1B7;   
    width: 320px;
    margin-bottom: 0px;
}
/* board*/
.grid{
    margin: auto;
    height:370px;
    width: 340px;
    display: flex;
    flex-wrap :wrap;
    background-color: #488588;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

}
.grid div{
    margin: 0px;; 
    padding: 2px;  
    padding-bottom: 4px;
    padding-top: 2px;
    height: 30px;
    width: 30px;    
    background-color: #10C5D0;
    border: none;
}
.grid div:hover{
    background-color: yellow;  
}
/*button is hidden in Second state but appers in THIRD*/
button.reset{  
    display: inline;
    height: 30px;
    width: 105px;
    margin: 10px 20px;   
    margin-bottom: 10px ;
    background-color: #00A1B7;
    border: 0.5px solid black;
    letter-spacing: 2px;
    border-radius: 3px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    
    
}
button.reset:hover{
    border: 1px inset white;
    background-color: #83DADF;
}
button.reset:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.flagNumber{   
    display: inline;
    font-size:22px;
    color:black;
    margin: auto;
    margin-left: 20px;          
}

.grid div:nth-child(odd){
	background-color:#83DADF ;
}   
.grid div:nth-child(odd):hover{
	background-color:yellow ;
}

.clock{
    display: inline;
    font-size: 22px;
    color:black;
    margin-left:10px ; 
    margin-right: 8px;
}
h1.SecondState{
    letter-spacing: 20px;
    margin-top: 0;
}




