.grid{
    height:500px;
    width: 500px;
    display: flex;
    flex-wrap :wrap;
    background-color: lightgreen;

}

.grid div{
    margin: auto;
    height: 40px;
    width: 40px;
    border: outset white;
    
}


.bomb{
    background-color: orange;
}