.grid{
    height:455px;
    width: 450px;
    display: flex;
    flex-wrap :wrap;
    background-color: gray;

}

.grid div{
    margin: auto;
    height: 38px;
    width: 38px;
    border: outset white;   
}
.grid div:hover{
    background-color: yellow;
}


.bomb{
    background-color: orange;
}

body {
    max-width: max-content;
    margin: 35px auto;
    }
button{
    display:inline-block;
    border: none;
    border: 2px solid orange;
    padding: 15px 32px;
    text-align: center;
    width: 48%;
    font-size: 16px;  
    border-radius: 15px;
}
form{
    display:inline-block;
    width:50%;

    margin-bottom: 0;

}
.selectForm{
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 15px;
}

