.container{
    margin-left: 10px;
    padding: 5px;
    padding-top: 20px;
    height:350px;
    width:300px;
    display: block;
    flex-wrap:wrap ;
    background-color: lightblue;
    border: 10px inset lightcyan;
}
button{
    margin-top: 2px;
    height: 70px;
    width: 70px;
    border: 1px outset white;
    font-size: large;
}
button:hover{
    background-color: orange;
}
.class12{
    width: 140px;
}
.class13 .class14{
    font-weight: bold;
}
.class11{
    content:"\2219";
}
.display{
    height: 40px;
    width: 257px;
    background-color: aliceblue;
    padding: 10px;
    font-size: 25px;
    border: 1px outset silver;
}
